html,body {
    overflow-x: hidden;
    line-height: 1.5;
}

:root {
    --tmp: #ec6a2a;
    --tmp-bg: #1c2433;
    --ft-color: #7f899b;
    --cpy-right-color: #98a5b9;
    --cpy-right-bg: #212a39;
    --p-color : #8b8b8b;
    --h3-color: #383838;
}

@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.woff);
    src: url(../fonts/Vazir.woff2);
}

@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.ttf);
}

p {
    padding: 0 !important;
    margin-bottom: 0 !important;
    color: var(--p-color);
}

ul {
    padding: 0 !important;
}

body {
    font-family: vazir, Arial, sans-serif;
}

.a-navbar {
    background-color: #fff;
    z-index: 1000;
    transition: all 0.4s ease;
}


.a-navbar.prefixed {
    visibility: hidden;
    height: 0px;
}

.a-navbar.fixed {
    visibility: visible;
    position: fixed; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    height: 70px;
    top: 0;
    left: 0;
}

.a-navbar .nav-main-menu {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    list-style: none;
    margin: 0;
    gap: 40px;
    position: relative;
    z-index: 980;
}

.a-navbar .nav-main-menu > li > a {
    text-decoration: none;
    display: block;
    color: #aaa;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    transition: color 0.3s ease;
    white-space: nowrap;
    position: relative;
    transition: all 0.2s ease;
}

.a-navbar .nav-main-menu > li > a.active {
    color: #222;
} 

/* TODO by js for hover each items of menu */
.nav-border-bottom {
    position: absolute;
    top: 70px;
    right: 0;
    width: 15px;
    border-bottom-width: 2px;
    border-color: var(--tmp);
    border-bottom-style: solid;
    transition: all 0.3s ease;
}

.a-navbar .nav-main-menu > li > a:hover {
    color: #222;
}

 li .sub-menu {
    visibility: hidden !important; 
    opacity: 0;
    transition: all 0.3s ease;
    position: absolute;
    top: 100%;
    background-color: #2e2e2e;
    list-style: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.sub-menu li {
    padding: 5px 30px;
 
}

.sub-menu li:first-child {
    padding-top: 12px;
}

.sub-menu li:last-child {
    padding-bottom: 12px;
}


.sub-menu a , .mega-sub-menu a {
    text-decoration: none;
    display: block;
    color: #bababa;
    transition: color 0.3s ease;
    text-align: right;
    position: relative;
    padding-left: 35px;
}

li:hover > .sub-menu , .nested-item:hover > .sub-menu {
    visibility: visible !important;
    opacity: 1;
}

/* nested item menu */
.nested-item {
    position: relative;
}

.nested-item > a::after {
    font-family: FontAwesome;
    content: "\f104";
    position: absolute;
    top: 0;
    left: -15%;
}

.nested-item > .sub-menu {
    visibility: hidden !important;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 100%;
    transition: all 0.3s ease;
    white-space: nowrap;
}


/* mega menu */
.sub-menu a:hover , .mega-sub-menu a:hover {
    color: #fff !important;

}


.nav-main-menu li:hover .mega-full {
    visibility: visible;
    opacity: 1;
}

.mega-full {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    
}

.mega-full .mega-wrapper {
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: row;
    background-color: #2e2e2e;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    
}

.mega-full .mega-wrapper .mega-sub-wrap {
    width: 25%;
    padding: 2rem;
    border-left: 1px solid #424242; 
    
}

.mega-sub-wrap:last-child {
    border-left: none !important;
}

.mega-full .mega-wrapper .mega-sub-wrap .mega-sub-menu {
    list-style: none;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mega-sub-menu li {
    padding: 5px 10px;
}

.mega-sub-menu li a {
    padding: 0;
    text-align: center;
}



/* 
==================
    slider
==================
 */


.slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.content {
    position: absolute;
    top: 45%;
    bottom: 45%;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.content .author::after {
    content: " ";
    display: inline-block;
    border-bottom: 1px solid #fff;
    margin: 0 10px 4px;
    width: 12px;
}

.content .date,
.content .author {
    display: inline-block;
    font-size: 0.9rem;
}

/* 
==================
feed items (posts)
==================
 */

.py-40 {
    padding: 40px 0;
}

.feed-item .feed-ui {
    position: relative;
}

.feed-ui .feed-img {
    overflow: hidden;
}

.feed-ui a img {
    transition: all 0.45s ease;
}

.feed-ui {
    background-color: #000;
}

.feed-ui a:hover img {
    opacity: .5;
    filter: alpha(opacity=50);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: all 0.45s ease;
}

.like-btn {
    position: absolute;
    bottom: -5%;
    left: -25px;
    border: none;
    border-radius: 50%;
    transition: all 0.2s ease;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    min-width: 70px;
    min-height: 70px;
    background-color: #fff;
}

.like-btn span {
    display: block;
    padding: 10px;
    color: #444;
    font-weight: 600;
    font-family: "Montserrat",sans-serif !important;
    line-height: 1.2;
    font-size: 14px;
}

.like-btn span::before {
    display: block;
    font-family: FontAwesome;
    content: "\f08a";
    font-size: 1rem !important;
    font-weight: normal;
}

.like-btn.liked span::before {
    content: "\f004";
    
}

.like-btn:active span::before {
    content: "\f004";
    color: #444;
    
}

.like-btn.liked span {
    content: "\f004" !important;
}


.mr-line:after {
    content: " ";
    display: inline-block;
    border-bottom: 2px solid var(--tmp);
    margin: 0 12px;
    width: 10px;
}


.fc-title h3 a {
    color: #343434;
    line-height: 1.4;
}

.fc-title h3:hover a , .fc-social a:hover i{
    color: var(--tmp) !important; 
}

.fc-info img {
    max-width: 36px;
    vertical-align: middle;
    margin-left: 18px;
    border-radius: 50%;
}

.fc-social i {
    font-size: 14px !important;
    color: #202020;
    transition: all 0.25s ease;
}

.feed-item a:active {
    color: var(--tmp); 
}

.fc-social::after {
    content: "- - - - - - - - - - - - - - - -";
    margin-right: 10px ;
    color: var(--p-color);
    font-size: 15px;
    line-height: 1.8;
    text-align: right;
}


.blog-content {
    text-align: justify;
    color: var(--p-color);
    margin-bottom: 30px;
}

/* 
==================
    side bar
==================
 */

aside h3 {
    font-size: 16px;
    font-weight: 700;
    color: var(--h3-color);
}

aside .mr-line::after {
    width: 18px !important;
    margin: 0 !important;
    margin-right: 15px !important;
}

.about-me p {
    margin-bottom: 20px !important;
    text-align: justify;
}

.about-me p img {
    margin-bottom: 20px;
}

.about-me a {
    color: var(--tmp);
    font-weight: bold;
}

.about-me a i::before {
    font-size: 0.7rem;
    margin-right: 5px;
}


.side-contact-us-wrap .contact-us {
    background-color: #f4f4f4;
    padding: 50px 40px 65px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
}

.side-contact-us-wrap .contact-us .follow-us .fc-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.side-contact-us-wrap .contact-us .follow-us .fc-social i {
    font-size: 1.1rem !important;
    color: #4c4c4c;
}

.side-contact-us-wrap .contact-us .follow-us .fc-social::after  {
    display: none !important;
}

.side-contact-us-wrap .contact-us .subscribe form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.side-contact-us-wrap .contact-us .subscribe form input {
    border: none;
    padding: 15px 17px;
    font-size: 0.9rem;
    
}

.side-contact-us-wrap .contact-us .subscribe form input:focus {
    outline: none;
}

.side-contact-us-wrap .contact-us .subscribe form #suBtn {
    background-color: #2f2f2f;
    color: #fff;
    font-weight: bold;
}

.popular-posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.popular-posts .pop-post {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.post-info .post-title {
    text-align: start;
    margin-bottom: 10px;
}

.post-info .post-title a {
    color: #4c4c4c !important;
    font-weight: bold;
}

.post-info .post-details {
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 0.9rem;
    flex-wrap: wrap;
}

.side-category .posts-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.posts-category li {
    background-image: url(../images/cat-bg-tech.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.posts-category li a {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 17px 25px;
}

.posts-category .post-cat-count {
    font-size: 0.8rem;
    margin-top: 5px;
}

.tags .tags-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tags .tags-grid a {
    background-color: #f4f4f4;
    color: #626262;
    font-size: 0.9rem !important;
    padding: 8px 16px 8px;

}

.recent-posts .post-ui {
    position: relative;
}

.recent-posts .post-ui .rp-cat {
    position: absolute;
    bottom: 0;
    left: 0;
}

.recent-posts .post-ui .rp-cat a {
    display: block;
    padding: 2px 15px;
    font-size: 0.8rem;
    color: #fff;
    background-color: var(--tmp);
}


/* 
===============
    a-pagination
===============
 */

 #a-pagination {
    display: flex;
    justify-content: center;
    align-content: center;
 }

#a-pagination a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 1;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    transition: background-color .3s ease;
    margin: 0 4px;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #929292;
}

#a-pagination a:hover {
    background-color: var(--tmp);
    color: white;
}

#a-pagination a.active {
    background-color: var(--tmp);
    color: white;

}

/* 
===============
   scroll top
===============
 */

 
#scroll-Top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
    background-color: #fff;
    color: #313131;
    border: none;
    padding: 15px;
    border-radius: 50%;
    visibility: hidden;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 0 25px rgba(0, 0, 0, .1);
}

#scroll-Top i {
    display: inline-block;
    font-size: 14px;
}

#scroll-Top.visible {
    opacity: 1;
}


/* 
===============
    footer
===============
 */

footer a , footer p {
    font-size: 1.1rem ;
}

.footer-sections {
    background-color: var(--tmp-bg);
}

.footer-sections h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
}

.footer-sections p , a{
    color: var(--ft-color);
    text-decoration: none;
    transition: all 0.25s;
}

.footer-sections a:hover {
    color: #fff;
}

.phone-call a {
    color: var(--tmp);
}

.phone-call a:hover {
    color: var(--tmp);

}

.ft-cat-holder {
    list-style: none;
    flex-wrap: nowrap;
}

.sub-cat {
    white-space: nowrap;
}

.sub-cat li:nth-child(2){
    margin: 10px 0;
}

.follow-social i {
    font-size: 30px;
    padding: 10px;
}

.footer-cpy {
    background-color: var(--cpy-right-bg);
    color: var(--cpy-right-color);
}

.footer-cpy a {
    text-decoration: none;
    color: var(--cpy-right-color);
    transition: all 0.3s;
    white-space: nowrap;
}

.footer-cpy a:hover {
    color: #fff;
}

footer .navigation {
    display: flex;
    justify-content: start;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin: 0;
}

footer .navigation li a {
    display: block;
    padding: 15px 0;
}

/* 
===============
    responsive
===============
 */

@media (min-width:769px) and (max-width: 992px) {

    .a-navbar .nav-main-menu {
        gap: 10px;
    }

    .footer-sections .follow-social i {
        font-size: 1.2rem !important;
    }
    
    .footer-cpy .navigation li a , .footer-cpy .cpy-right p{
        font-size: 0.9rem !important;
    }

    .post-info .post-details  {
        flex-direction: column;
        gap: 5px;
    }

    
}

@media (min-width:500px) and (max-width: 768px) {
    .a-navbar .nav-main-menu {
        gap: 10px;
    }

    .a-navbar .nav-main-menu > li > a {
        padding: 5px;
        font-size: 0.9rem;
    }

    .a-navbar .nav-main-menu .logo img {
        width: 70px;
        height: auto;
    }

    .post-info .post-title  {
        text-align: justify;
        font-size: 0.9rem;
    }

    .mega-sub-wrap {
        padding: 1rem !important;
    }

}


@media (max-width: 499px) {
    
    .a-navbar.fixed {
        height: 50px !important;
    }
   
    .a-navbar .nav-main-menu {
        margin: 0 10px;
        gap: 5px;
        height: 50px !important;
        justify-content: space-between;
    }

    .a-navbar .nav-main-menu  li  a {
        padding: 5px;
        font-size: 0.7rem;
    }

    .a-navbar .nav-main-menu .logo img {
        width: 62px;
        height: 15px;
    }

    .mega-sub-wrap {
        padding: 0.5rem !important;
    }

    .mega-sub-menu {
        gap: 5px;
    }

    .mega-sub-menu li {
       font-size: 0.8rem;
       padding: 5px 0;
    }

    .like-btn {
        min-width: 30px !important;
        min-height: 30px !important;
    }
    .like-btn span , .like-btn span::before {
        font-size: 0.7rem !important;
    }
}