/* designed by MRAlpha || https://github.com/MohamadeRahbar  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to left , #f7e5c4 , #bbeeee , #f7e5c4);
}

hr {
  margin-bottom: 5px;
}

#calCule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#calTitle {
  background-color: #e4e4e4;
  padding: 0 50px;
  text-align: center;
  border-radius: 0 0 30px 30px;
  color: #ccc;
  font-weight: bold;
  position: absolute; 
  top: -20px;
  left: 50%;
  transform: translateY(20px);
  transition:  0.3s ease-in;
}

#calCule:hover #calTitle {
  transform: translateY(11px);
  transition: transform 0.3s ease-in;
  border-radius: 30px 30px 0 0;
  border-top: 1px solid #bbb;
  color: #777;
  /* box-shadow: 0px -5px 20px #999; */
}

#calculator {
  background-color: #e4e4e4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #999;
  max-width: 400px;
}

#cal-lcd {
  overflow: hidden;
}

#cal-lcd #history {
  font-family: 'Courier New', Courier, monospace;
  max-width: 100%;
  height: 150px;
  margin: 5px 0;
  border-radius: 5px;
  background-color: #aaa;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: right;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: #4a4a4a;
}

#cal-lcd #current-action {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  margin-bottom: 10px;
  height: 45px;
  width: 100%; 
  gap: 5px; 
}

#cal-lcd #current-action #io {
  
  max-width: calc(100% - 45px); 
  height: 40px;
  font-size: 24px;
  padding: 10px;
  text-align: right;
  background-color: #dadada;
  border-radius: 5px ;
  border: 1px solid #aaa;
  
}

#cal-lcd #current-action #io:focus {
  outline: none;
}

#io::-webkit-outer-spin-button,
#io::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.red-alert {
  border: 1px solid red !important;
  transition: border 0.1s ease-in-out;
}

#cal-lcd #current-action #operator {
  width: 45px; 
  height: 40px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #555;
  background: #d3d3d3;
  line-height: 1;
  border-radius: 33%;
}

#cal-pad {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

button {
  text-align: center;
  padding: 20px;
  font-size: 1.59rem;
  background-color: #f1f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

#cal-pad #act-pad {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

#cal-pad #num-pad {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px;
}

#cal-pad #num-pad button:last-child {
  grid-column-start: 1;
  grid-column-end: 4;
}

#cal-pad #act-pad button:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
}

button:hover {
  background-color: #b8b8b8;
}

button:active {
  background-color: #777;
}

#cal-pad #act-pad button {
  background-color: #d9d9d9;
}

#cal-pad #act-pad button:hover {
  background-color: #b8b8b8;
}

#cal-pad #act-pad button:active {
  background-color: #777;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666; 
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a; 
}

::-webkit-scrollbar-track {
  background: #9a9a9a; 
}

/* class for select key from keyboard */
.key-active {
  background-color: #b8b8b8 !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.5s linear;
}

/* custom tool tip instead of using title attr */
button[data-title] {
  position: relative; 
}

button[data-title]:hover::before {
  content: attr(data-title); 
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fafafa; 
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.69rem;
  white-space: nowrap; 
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out; 
}


/* by MRAlpha || https://github.com/MohamadeRahbar  */