* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px 0;
    padding: 50px;
  }

hr {
    width: 100%;
}

ul li {
    text-align: center;
    padding: 5px;
}

.red {
    color: red !important;
}

.blue {
    color: blue ;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}


.p-10 {
    padding: 10px;
}

.font-sm {
    font-size: 20px;
}

.font-large {
    font-size: 50px;
}

.under {
    text-decoration: underline;
}

#mrAlpha-message {
    width: 90%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

#projects button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ccc;
    box-shadow: 0 1px 2px 2px #aaa;
    transition: all 0.18s ease;
    position: relative;
}

#projects button:hover {
    background-color: #999;
    box-shadow: 0 0px 1px 2px #999;
}

#projects button:active {
    background-color: #555;
    box-shadow: none;
}


#projects button a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-shadow: 0px 1px 2px #222;
    font-weight: bold;
    font-size: 18px;
}

.new {
    border: 2px dashed #0fef !important;
}

.new::after {
    content: 'New!';
    color: red;
    position: absolute;
    top: 55px;
    left: 50px;
}
