body {
    background: #aca8a8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    width: 300px;
}

.form .form-element {
    position: relative;
}

.form .form-element input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #888;
    background: #f5f5f5;
    box-sizing: border-box;
    border-radius: 50px;
    outline: none;
    text-indent: 10px;
}

.form .form-element .toggle-password {
    position: absolute;
    width: 40px;
    height: 43px;
    top: -1px;
    right: 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form .form-element .toggle-password.active i.fa-eye {
    display: none;
}

.form .form-element .toggle-password.active i.fa-eye-slash {
    display: inline;
}

.form .form-element .toggle-password i.fa-eye-slash {
    display: none;
}

.hint::after {
    content: "Click on Eye to view password";
    text-align: center;
    color: red;
    font-size: 0.85rem;
    font-weight: bold;
    margin: 1rem;
}
#return2root {
    border: none;
    border-radius: 0.5rem;
    background-color: #aaa;
    box-shadow: 0 0px 2px 2px #888;
    transition: all 0.18s ease;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#return2root:hover {
    background-color: #888;
    box-shadow: 0 0px 1px 2px #777;
    color: #000000;
}

#return2root:active {
    background-color: #555;
    box-shadow: none;
}

#return2root a {
    cursor: pointer;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #d3ffff;
    text-shadow: 0px 2px 3px #222;
    font-weight: bold;
    font-size: 18px;
}

#return2root:hover a {
    color: #8dffff;
}

#return2root:active a {
    color: #00ffff;
}