* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	font-family: sans-serif;
	background-color: #ccc;
}

#mainNav .logo img {
	height: 80px;
	transition: height 0.4s;
}

#mainNav {
	display: flex;
	justify-content: space-between;
	padding:  0px 16px;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	background-color: #ccc;
	transition: background 0.4s;
}

#mainNav.fixed {
	box-shadow: 0 1px 5px #222;
}

#mainNav.fixed .logo img {
	height: 45px;
	
}

section {
	height: 300px;
	padding: 16px;
	font-size: 20px;
}

section:nth-of-type(1) {
	margin-top: 90px;
}

section:nth-of-type(odd) {
	background-color: #eee;
	color: #333;
}

section:nth-of-type(even) {
	background-color: #333;
	color: #eee;
}

footer {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	color: pink;
}

#mainNav ul {
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: space-around;
}

#mainNav ul li a {
	color: #333;
	font-weight: 500;
	transition: color 0.4s;
}


#return2root {
    border: none;
    border-radius: 0.5rem;
    background-color: #aaa;
    box-shadow: 0 0px 2px 2px #888;
    transition: all 0.18s ease;
    position: fixed;
    bottom: 2%;
    left: 5%;
    transform: translate(-50%, -60%);
}

#return2root:hover {
    background-color: #888;
    box-shadow: 0 0px 1px 2px #777;
    color: #000000;
}

#return2root:active {
    background-color: #555;
    box-shadow: none;
}

#return2root a {
    cursor: pointer;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #d3ffff;
    text-shadow: 0px 2px 3px #222;
    font-weight: bold;
    font-size: 18px;
}

#return2root:hover a {
    color: #8dffff;
}

#return2root:active a {
    color: #00ffff;
}