html,body {
    overflow-x: hidden;
}
@font-face {
    font-family: vazir;
    src: url(../fonts/Vazir.woff);
    src: url(../fonts/Vazir.woff2);
}

@font-face {
    font-family: yekan;
    src: url(../fonts/Yekan.ttf);
}

p {
    padding: 0 !important;
    margin-bottom: 0 !important;
}

ul {
    padding: 0 !important;
}

:root {
    --tmp: #ec6a2a;
    --tmp-bg: #1c2433;
    --ft-color: #7f899b;
    --cpy-right-color: #98a5b9;
    --cpy-right-bg: #212a39;
}

body {

    font-family: vazir, Arial, sans-serif;
}
.a-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 0 10vw;
    position: relative;
    transition: all 0.25s;
}

.a-navbar.fixed {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.a-navbar.fixed img {
    width: 115px;
    height: 25px;
    transition: all 0.3s;
}

/* hamburger menu by mrAlpha */
.a-navbar .menuger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
}

@media (max-width: 768px) {
    .a-navbar {
        justify-content: start;
        padding-top: 5px ;
        padding-bottom: 5px ;
    }

    .a-navbar .menuger {
        display: block; 
    }

    .a-navbar .menu {
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        z-index: 100;
        transition: all 0.3s;
    }

    .a-navbar .menu.active {
        visibility: visible;
        opacity: 1;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        
    }
    
    .a-navbar .menu li a {
        padding: 10px 20px;
    }

    .a-navbar .menu .logo {
        display: none;
    }
}


.a-navbar .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 10px;
    padding: 0;
}


.a-navbar .menu li {
    position: relative;
    margin: 0 15px;
}

.a-navbar .menu > li > a {
    text-decoration: none;
    display: block;
    color: #333;
    font-size: 16px;
    padding: 15px;
    transition: color 0.3s;
    white-space: nowrap;
}

.a-navbar .menu li a:hover {
    color: #ff6600;
}

.a-navbar .menu li .sub-menu {
    visibility: hidden; 
    opacity: 0;
    transition: all 0.3s;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2e2e2e;
    list-style: none;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.a-navbar .menu li ul li a {
    text-decoration: none;
    display: block;
    color: #bababa;
    padding: 10px 35px;
    padding-right: 0;
    transition: color 0.3s;
    text-align: right;
}

.a-navbar .menu li ul li a:hover {
    color: #fff;

}

.a-navbar .menu li:hover ul {
    visibility: visible;
    opacity: 1;
}

.a-navbar .menu li:hover .mega-wrapper {
    visibility: visible;
    opacity: 1;
}

.menu .mega-wrapper {
    visibility: hidden; 
    opacity: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: red;
    border-radius: 5px;
    transition: all 0.3s;
    background-color: #2e2e2e;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.mega-wrapper .mega-sub {
    white-space: nowrap;
    list-style: none;
    padding: 10px 0;
    border-right: 1px solid #222;
    
}

.mega-wrapper .mega-sub:first-child   {
    border-right: none;
}



















.footer-sections {
    background-color: var(--tmp-bg);
}

.footer-sections h3 {
    font-weight: bold;
    color: #fff;
}

.footer-sections p , a{
    color: var(--ft-color);
    text-decoration: none;
    transition: all 0.25s;
}

.footer-sections a:hover {
    color: #fff;
}

.sub-cat {
    /* margin: 10px 0; */
}

.sub-cat li {
   list-style: none;
}

.sub-cat li:nth-child(2){
    margin: 10px 0;
}

.follow-social i {
    font-size: 40px;
    padding: 10px;
}

.footer-cpy {
    background-color: var(--cpy-right-bg);
    color: var(--cpy-right-color);
}

.footer-cpy a {
    text-decoration: none;
    color: var(--cpy-right-color);
    transition: all 0.3s;
}

.footer-cpy a:hover {
    color: #fff;
}

footer .navigation {
    display: flex;
    justify-content: start;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    margin: 0;
}

footer .navigation li a {
    display: block;
    padding: 15px 0;
}