body , html {
    overflow-x: hidden;
    line-height: 1.5;
    background-color: #efefef;
}

ul {
    list-style: none;
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
    color: #555;
}

a:hover {
    color: #000;
}

.nav-holder {
    width: 100%;
    padding: 0;
    position: relative;
}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 20px;
}

.nav-menu li {
    text-align: center;
    vertical-align: middle;
}


.sub-menu {
    /* display: none; */
}

.mega-full {
    display: none;
}