* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    width: 100%;
    position: relative;
    background-color: rgb(133, 173, 125);

}


.context-menu {
    position: absolute;
    list-style: none;
    background: #eee;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    padding: 0.199rem;
    z-index: 1;
}

.context-item {
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    border-radius: 0.5rem;
    justify-content: start;
    align-self: self-start;
    cursor: pointer;
}

.context-item:hover {
    background-color: #555;
}

.context-item a {
    text-decoration: none;
    color: #222 !important;
}

.context-item a>i{
    margin-right: 0.3rem;
}

.context-item:hover a  {
    color: #fff !important;
}

.context-item:last-child:hover a  {
    color: red !important;
}

#return2root {
    border: none;
    border-radius: 0.5rem;
    background-color: #aaa;
    box-shadow: 0 0px 2px 2px #888;
    transition: all 0.18s ease;
    position: fixed;
    top: 60vh;
    left: 47vw;
    right: 48vw;
}

#return2root:hover {
    background-color: #888;
    box-shadow: 0 0px 1px 2px #777;
    color: #000000;
}

#return2root:active {
    background-color: #555;
    box-shadow: none;
}

#return2root a {
    cursor: pointer;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #d3ffff;
    text-shadow: 0px 2px 3px #222;
    font-weight: bold;
    font-size: 18px;
}

#return2root:hover a {
    color: #8dffff;
}

#return2root:active a {
    color: #00ffff;
}