* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background-color: #343541; 
    font-family:  ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    font-size: 1.4rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    color: #f8f8f8;
}

#alphaToDo {
    width: 50%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 15px -3px #aaa , 0px 1px 3px -1px rgba(0, 247, 255, 1);
}

#todos {
    display: none;
    width: 100%;
    list-style: none;
    background-color: #212121;
}

#todos li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    padding: 0.5rem;
    margin-bottom: 0.3rem;
    border: 1px solid #4f4f4f;
    border-radius: 0.5rem;
}

.delete {
    color: #f2f2f2;
    text-shadow: 0 0px 3px #0ff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.delete:hover {
    color: #fff;
    text-shadow: 0 0px 5px #0ff;
}

#addTodo {
    color: #f8f8f8;
    width: 50%;
    background-color: #2f2f2f;
    padding: 0.5rem 0.8rem;
    outline: none;
    border: 1px solid #212121;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    position: relative;
}

#addTodo:focus {
    outline: 1px solid rgba(0, 247, 255, 0.3) !important;
}

#return2root {
    border: none;
    border-radius: 0.5rem;
    background-color: #2f2f2f;
    box-shadow: 0 0px 1px 1px #888;
    transition: all 0.18s ease;
}

#return2root:hover {
    background-color: #888;
    box-shadow: 0 0px 1px 2px #777;
    color: #000000;
}

#return2root:active {
    background-color: #555;
    box-shadow: none;
}

#return2root a {
    cursor: pointer;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #d3ffff;
    text-shadow: 0px 2px 3px #222;
    font-size: 18px;
}

#return2root:hover a {
    color: #8dffff;
}

#return2root:active a {
    color: #00ffff;
}